<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net451" />
  <package id="ODP.NET4" version="4.112.3" targetFramework="net472" developmentDependency="true" />
  <package id="Oracle.ManagedDataAccess" version="19.9.0" targetFramework="net472" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="19.7.0" targetFramework="net451" />
</packages>